body {
    padding: 20px;
    background-color: beige;
    font-size: 2em;
    /*min-width: 1060px;*/
    /*color: white;*/
}

.image-block {
    position: relative;
    display: inline-block;
    margin: 5px;
    height: auto;
}

.img-row-top-3 .image-block {
    width: 32%;
}

.img-row-rest .image-block {
    width: 18%;
}

.image-block img {
    height: auto;
    width: 100%;
}

.highlight-1 {
    border: 5px solid gold;
}

.highlight-2 {
    border: 5px solid silver;
}

.highlight-3 {
    border: 5px solid sandybrown;
}

.gallery-wrap {
    margin: 0 auto;
    width: 1030px;
    max-width: 90%;
    min-width: 500px;
}

.likes-counter {
    position: absolute;
    left: 10px;
    top: 0px;
    color: #fff;
    font-size: 2em;
    text-shadow: 1px 1px 2px #000;
}

.comments-counter {
    position: absolute;
    left: 120px;
    top: 0px;
    color: #fff;
    font-size: 2em;
    text-shadow: 1px 1px 2px #000;
}

.img-row {
    text-align: center;
}
